.music-post-icon {
    color: black;
    margin-left: 8px;
    font-size: 1.5rem; /* Ajusta este valor para cambiar el tamaño del icono */
  }
  
  .music-post-cover {
    width: 200px; /* Ajusta este valor para cambiar el tamaño de la imagen */
    height: auto;
  }
  